body {
	background-color: white;
}

.container {
	margin:0 auto;
	width:960px;
	font-size: 100%;
	line-height: 1.5;
}

/**********************************************
Typography (module 3)
affects the styling of text
**********************************************/
h1, h2{
	padding:10px;
	text-align: center;
	font-family: arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #747474;
}

/********************************************
layout
these rules will affect the physical positioning
	of elements they to which they are applied
********************************************/

nav{
	margin-top: 48px;
	background-color: #ddd;
}